<h2>Current Task: <%= @task.name %></h2>
<h3>Started At: <%= Time.at(@task.start_time).localtime.strftime("%A, %b %e at %l:%M %p") %></h3>
<h3>Finish Time: <%= Time.at(@task.end_time).localtime.strftime("%A, %b %e at %l:%M %p") %></h3>