<span>Timebox:</span>
<a href="#" class="timebox-subtract" title="Subtract your estimated time"><span class="glyphicon glyphicon-minus"></span></a>
<span class="label label-primary"><span class="time-box"><%= task.time_box %></span> min</span>
<a href="#" class="timebox-add" title="Add your estimated time"><span class="glyphicon glyphicon-plus"></span></a>