<div class="task-form">
  <h4 class="list-group-item-heading" title="Change Task Name"><%= task.name %> <a href="#" class="task-edit"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="tasks/<%= task.id %>" class="task-description" title="Add a Description"><span class="glyphicon glyphicon-list-alt"></span></a>
  </h4>
</div>