<span>Priority:</span>
<a href="#" class="priority-subtract" title="Increase the priority of the Task"><span class="glyphicon glyphicon-minus"></span></a>
<span class="label label-primary"><span class="priority"><%= task.priority %></span></span>
<a href="#" class="priority-add" title="Decrease the priority of the Task"><span class="glyphicon glyphicon-plus"></span></a>