<div class="panel panel-info task">
	<div class="panel-heading">
		<div class="col-xs-12 col-sm-6 col-md-6 name">
			<h5 class="visible-md visible-lg"><%= task.name.truncate(140) %>
				<a href="#" class="task-edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</h5>
			<h5 class="visible-sm visible-xs"><%= task.name.truncate(76) %>
				<a href="#" class="task-edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</h5>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="due_date" data-link-format="yyyy-mm-dd">
			<span class="input-group-addon"><span>Due:</span></span>
			<input class="form-control" size="16" type="text" value="" readonly>
			<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
		<input type="hidden" id="due_date" value="" />
	</div>
  <div class="panel-body">
	  <div class="col-xs-12 col-sm-6 col-md-6 option">
  		<div class="col-xs-4 col-sm-4 col-md-4 option">
	  		<h5>Timebox: </h5>
  		</div>
  		<div class="col-xs-8 col-sm-8 col-md-8 option">
  			<h5>
		  		<a href="#" class="timebox-subtract">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</a>
				</h5>
	  		<h4>
	  			<span class="label label-primary"><span class="time-box"><%= task.time_box %></span> min</span>
	  		</h4>
	  		<h5>
		  		<a href="#" class="timebox-add">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</h5>
			</div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-6 option">
  		<div class="col-xs-4 col-sm-4 col-md-4 option">
	  		<h5>Priority: </h5>
  		</div>
  		<div class="col-xs-8 col-sm-8 col-md-8 option">
  			<h5>
		  		<a href="#" class="timebox-subtract">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</a>
				</h5>
	  		<h4>
	  			<% case task.priority %>
			    <% when 1 %>
			      <span class="label label-danger">High</span>
			    <% when 2 %>
			      <span class="label label-warning">Medium</span>
			    <% when 3 %>
			      <span class="label label-success">Low</span>
			    <% end %>
	  		</h4>
	  		<h5>
		  		<a href="#" class="timebox-add">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</h5>
			</div>
	  </div>	  
  </div>
</div>