<span>Priority:</span>
<a href="#" class="priority-subtract"><span class="glyphicon glyphicon-minus"></span></a>
<span class="label label-primary"><span class="priority"><%= task.priority %></span></span>
<a href="#" class="priority-add"><span class="glyphicon glyphicon-plus"></span></a>