<%= render partial: "tasks/new", locals: {task: @task} %>

  <table>
    <tr>
      <th class="col-md-3">Task Name</th>
      <th class="col-md-3">Time Box</th>
      <th class="col-md-3">Due Date</th>
      <th class="col-md-3">Priority</th>
    </tr>
    <% @tasks.each do |report| %>
      <tr>
        <td class="col-md-3"><%= link_to "#{report.task.name}", report.task %></td>
        <td class="col-md-3"><%= report.task.time_box %> min</td>
        <% if report.task.due_date %>
          <td class="col-md-3"><%= report.task.due_date %></td>
        <% else %>
          <td class="col-md-3">N/A</td>
        <% end %>
        <td class="col-md-3">NEED TO PUT PRIORITY HERE</td>
      </tr>
    <% end %>
  </table>
