<div class="jumbotron">

	<h1>Settings</h1>
	<%= form_for @user do |f| %>

		<ul class="list-group">
			<p class="list-group-item-heading">Alerts:
			<%= f.check_box :alerts_enabled %></p>
		</ul>

		<%= f.submit "Save Settings", class: "btn btn-default" %>

	<% end %>

</div>