<div class="calendar-event">
	<h3><%= @next_event.summary %></h3>
  <p>We'll let you get back to it!</p>
  <p>Finished early?  <%= link_to "Click here", complete_calendar_path %> to end your event and find a task from your list!</p>
</div>