<div class="panel panel-primary calendar-event">
	<div class="panel-heading"><%= @next_event.summary %><span class="glyphicon glyphicon-calendar pull-right"></span></div>
  <div class="panel-body">
    <p><%= @next_event.description %></p>
  	<h5>Started At:</h5>
	  <p><%= format_local_time(@next_event.start.dateTime) %></p>
  	<h5>Ends At:</h5>
	  <p><%= format_local_time(@next_event.end.dateTime) %></p>
  </div>
</div>