<% if @upcoming_events.any? %>
  <% @jumboarray.each do |event| %>
  <% if event[0] == :google %>
    <li class="list-group-item" style="background-color:lightblue"> GOOGLE EVENT:
  <% else %>
    <li class="list-group-item" style="background-color:lightyellow">
  <% end %>
    <%= format_local_time(event[1]) %>
    <% if event[2] == nil %>
      No Event Title
    <% else %>
      <%= event[2] %>
    <% end %>
    <br>
  <% end %>
  </li>
<% end %>



