<div class="jumbotron">

  <% if @tasks %>

    <table>
      <tr>
        <%= render 'tasks/headers' %>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <%= render partial: "home/task_row", locals: {task: task} %>
          <td><%= button_to "Remove Task", task_path(task), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </table>

  <% else %>

    Go Complete Some Tasks!

  <% end %>

</div>