<% if @time_to_next_event > 0 %>

	<h1>Status: Free</h1>
	<h2>Here are some things to do before your next event:</h2>
	<table>
	  <tr>
			<%= render 'task_reports/headers' %>
	  </tr>
	  <% @tasks.each do |report| %>
	    <tr>
	      <%= render partial: "task_reports/task_row", locals: {report: report} %>
	      <td><%= button_to "Start Task", start_task_path(report), method: :patch %></td>
	    </tr>
	  <% end %>
	</table>


<% else %>

	<h1>Status: Busy</h1>
	<h2>Here's what you're currently busy with:</h2>
	<%= render "calendar_event" %>

<% end %>