<% if @time_to_next_event > 0 %>
	<h1>Status: Free</h1>

	<% if @tasks.any? %>
		<h2>Here are some things to do before your next event:</h2>
		<table>
		  <tr>
				<%= render 'tasks/headers' %>
		  </tr>
		  <% @tasks.each do |task| %>
		    <tr>
		      <%= render partial: "tasks/task_row", locals: {task: task} %>
		      <td><%= button_to "Start Task", start_task_path(task), method: :patch %></td>
		    </tr>
		  <% end %>
		</table>

	<% elsif !@tasks.any? %>
		<h2>You don't have any events on your calendar.</h2>
	<% end %>

<% else %>

	<h1>Status: Busy</h1>
	<h2>Here's what you're currently busy with:</h2>
	<%= render "calendar_event" %>

<% end %>