<%= render partial: "tasks/new" %>

<table>
  <tr>
    <%= render 'tasks/headers' %>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <%= render partial: "tasks/task_row", locals: {task: task} %>
    </tr>
  <% end %>
</table>
