<%= render partial: "tasks/new" %>

<table>
  <tr>
    <%= render 'tasks/headers' %>
    <td></td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <%= render partial: "tasks/task_row", locals: {task: task} %>
      <td><%= button_to "Start Task", start_task_path(task), method: :patch %></td>
    </tr>
  <% end %>
</table>
