<h1>Welcome!</h1>
<h2>Timetris is an app designed to optimize your productivity.</h2>
<p>Do you have tons of must-do tasks but can't find the time to fit them into your busy schedule? Let Timetris do the work for you! Timetris connects with your Google Calendar to fill gaps in your schedule.</p>
<h3>Because you can't pause life.</h3>