body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999;
}

.calendar-event {
	max-width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}