// colors to try
// #468966, #FFB03B, #B64926, #8E2800
// #A7A37E, #046380, #002F2F, #666
// #D0A825, #40627C, #26393D, #FF358B
// #01B0F0, #01B0F0, #63A69F, #CD2C24
// #F2385A, #F5A503, #88A825, #35203B
// #911146, #CF4A30, #ED8C2B, #36175E
// #553285, #7B52AB, #263248, #8E001C
// #998A2F, #002D40, #2C594F, #333

$primary-color: #002D40;
$secondary-color: #0078AB;

body {
  background-color: $primary-color;
}

.label-primary {
  background-color: $secondary-color;
}

.glyphicon:before {
  color: $secondary-color;
}

.jumbotron {
  background-color: transparentize(#fff, 0.05);
}

.list-group-item {
  background-color: transparentize(#ffffff, 0.4);
}

.btn-default {
  background-color: transparentize(#ffffff, 0.2);
}

.form-control {
  background-color: transparentize(#fff, 0.2);
}

.container-fluid {
  background-color: transparentize(#ffffff, 0.5)!important;
}


