.task {
	.option {
		text-align: center;
	}	

	.panel-heading {
		height: 50px;

		p {
			display: inline;
		}
	}
	div.form_date {
		width: 200px;

		.input-group-addon {
			height: 31px;
		}
		input {
			height: 31px;
		}
	}
}