.task {
	.option {
		text-align: center;
	}

	h5, h4 {
		display: inline-block;
	}

	.panel-heading {
		.name {
			display: inline;
			padding: 0;
		}
		.date-label {
			display: inline;
		}
		.date {
			display: table;

			.input-group-addon {
				height: 31px;
			}
			input {
				height: 31px;
			}
		}
	}
}