<div class="container cal-container col-md-4 col-xs-12">
  <div class="panel panel-primary calendar-sidebar">
		<div class="panel-heading">Calendar<span class="glyphicon glyphicon-calendar pull-right"></span></div>
	  <div class="panel-body">
	  	<table class="table">
	  		<% @calendar.each do |row| %>
		  		<tr>
					 	<% row.each do |event| %>
					 		<td><%= event %></td>
					 	<% end %>
				  </tr>
	  		<% end %>
			</table>
	  </div>
	</div>
</div>
