<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Timetris</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a target="_blank" href="https://docs.google.com/forms/d/1PNhgfo13lDBA7bPfKr-t_FfeZ1zKN8xjrJRgJKDcxDk/viewform?usp=send_form">Feedback</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings</a></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            </ul>
          </li>
        <% else %>
          <button type="button" class="g-signin">
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          </button>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
