<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Pending Tasks", pending_path %></li>
  <li><%= link_to "Completed Tasks", completed_path %></li>
  <li><%= link_to "Reports", task_reports_path %></li>
</ul>

<br>
<!-- class="active" -->
