<!DOCTYPE html>
<html>
<head>
  <title>Timetris</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #1A1A1A">

  <div class="container">
    <%# render partial: "layouts/navbar" %>
    <%= render partial: "layouts/jumbotron" %>
  </div>

</body>
</html>

